# Database
DATABASE_URL="postgresql://bharatstore:bharatstore_dev_secret_2026@localhost:5432/bharatstore?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Security
JWT_ACCESS_SECRET="bharatstore_super_secret_access_jwt_key_2026_dev_min32chars"
JWT_REFRESH_SECRET="bharatstore_super_secret_refresh_jwt_key_2026_dev_min32chars"
NODE_ENV="development"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_DOMAIN="localhost:3000"
